html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  margin: 0 auto;
  background-image: url(images/blackbg.png);
}
a {
  text-decoration: none;
  color: #fff;
}
h3 {
  padding: 15px 15px 15px 15px;
  color: #f4f4f4;
  margin: 0
}
h4 {
  color: #f4f4f4
}
hr{
  border-style: solid;
  background-color: #363636;
  color: #363636
}
@media only screen and (max-width: 720px) {
  #readingarea.areamin {
    margin: 0px 0px;
  }
}
@media only screen and (max-width: 720px) {
  #readingarea.areamin {
    margin: 10px 0;
  }
}
#readingarea.areamin {
  text-align: left;
  line-height: 23px;
  margin: 20px auto
}
#readingarea {
  margin: 10px auto;
  text-align: center;
  position: relative;
  max-width: 1142px;
}
#readingarea p {
  margin: 0;
}
@media only screen and (max-width: 720px) {
  #readingarea img {
    border: 0;
  }
  .allrelease {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .sidebar- {
    width: 100%;
    padding-left: 15px;
  }
  .sidebar {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .nav-bottom {
      margin-left: 20px;
      margin-right: 20px;
  }
  .nav-bottom .chsele #chapterselector {
      width: 100%;}
}
#readingarea img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
/*navbar*/
.topnav {
  overflow: hidden;
  background-color: #253A47;
}
.topnav a {
  float: left;
  display: block;
  color: #33a6bb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}
.activate {
  background-color: #253A47
}
.topnav a:hover {
  background-color: #253A47;
  color: #ffffff;
}
.topnav a.active {
  background-color: #253A47;
  color: #ffffff;
}
.topnav .icon {
  display: none;
  height: 26.2px
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {
  float: none;
}
.topnav.responsive .dropdown-content {
  position: relative;
}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}
.omegasyb {
  max-height: 54.9px;
  margin: 0;
  padding: 0;
}
/*navbar*/
.namech {
  color: #f4f4f4;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  max-width: 740px;
  margin: 40px auto 10px auto;
}
.path {
  font-size: 18px;
  float: left;
}
.path a {
  text-decoration: none;
  text-align: center;
  color: #f4f4f4;
  font-weight: 200;
  font-style: italic;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  width: 26px;
  height: 26px;
  border: none;
  outline: none;
  background-color: #33a6bb;
  color: white;
  cursor: pointer;
padding: 5px;
  border-radius: 50%;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transition: all .2s
}
#myBtn img {
  width: 12px;
  height: 12px
}
#myBtn:hover {
  background-color: #253A47;
}
.rights {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: grey;
  font-size: 12px;
  text-align: center;
}
.allrights {
  margin: auto;
  display: flex;
  background-color: #333;
  color: grey;
}
  .allrelease {
    max-width: 800px;
    margin: 0 auto;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
    width: 330px;
    height: 50px;
    margin-bottom: 8px;
    border-radius: 0.25rem !important;
    text-align: center;
  }
  .widget {
    margin: 0 0 10px 0;
  }
  /*sidebar*/
/*bottom nav*/
.nav-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-bottom {
    overflow: hidden;
    margin: 10px auto;
    max-width: 740px;
    text-align: center;
}
@media only screen and (max-width: 500px){
.nav-bottom .chsele {
    float: none;
    margin: 0;
    overflow: hidden;
    display: block;
}
.nav-bottom .chapterlead {
  display: block;
    overflow: hidden;
  }}
.nav-bottom .omg {
    float: left;
    margin-right: 10px;
}
.nav-bottom .omg select {
    background: #333;
    border: 1px solid #333;
    font-family: inherit;
    display: block;
    color: #808080;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
}
.chapterlead {
  overflow: hidden;
  display: block;
}
.nextandprev{
  overflow: hidden;
}
.nextandprev a {
    display: block;
    padding: 2px 15px;
    border-radius: 20px;
    color: #253A47;
    font-size: 13px;
    background: #33a6bb;
    line-height: 25px;
    margin: 0 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
}
.nav-bottom .btmnavspan {
  float: right;
margin-left: 10px;
}
.nextandprev a[rel=prev] {
    float: left;
}
.nextandprev a[rel=next] {
    float: right;
}
#disqus_thread{
  margin: auto 25px;
}
.commentscont
{
  background-color: #333;
  padding-top: 25px;
  margin-bottom: 25px;
}
.support {
  display: flex;
  background-color: #333;
  padding-bottom: 0;
}
.navpng {
  padding: 13px;
  color: #ffffff;
  width: 25px;
  height: 25px;
  line-height: 1;
}
.navpng1:hover {
  background-color: #fa6755;
}
.navpng2:hover {
  background-color: #0666b4
}
.navpng3:hover {
  background-color: #5865F2
}
.navpng4:hover {
  background-color: #ffdd00
}
