html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  border-style: none;
  vertical-align: middle;
}

h3 {
  padding: 15px 15px 15px 15px;
  color: #f4f4f4;
  margin: 0
}

h4 {
  color: #f4f4f4
}

/*navbar*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #66A3BB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.activate {
  background-color: #66A3BB
}

.topnav a:hover {
  background-color: #253A47;
  color: #ffffff;
}

.topnav a.active {
  background-color: #253A47;
  color: #ffffff;
}

.topnav .icon {
  display: none;
  height: 26.2px
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.topnav.responsive .dropdown {
  float: none;
}

.topnav.responsive .dropdown-content {
  position: relative;
}

.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}

/*navbar*/
/*releases*/
.container {
  padding: 0 15px;
  /* margin-right: auto;
    margin-left: auto;*/
}

.allcomics {
  /* display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row; */
  margin: 0 auto;
  padding: 0 15px
}

.listing {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.comiclogo {
  width: 100%;
  height: 235px;
  max-width: 250px;
  padding: 10px;
  margin: 0 auto;
}

.allrelease {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* @media (max-width: 720px) { */
.listing {
  position: relative;
  width: 100%;
  max-width: 350px
}


.allreleases {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0 auto;
}


.cmicdtl {
  margin-bottom: 30px;
}
/* } */

.thumbimg {
  width: 100%;
  margin: 0 auto 0 auto;
  /* float: left; */
  position: relative;
  overflow: hidden;
}

.comicsummary {
  width: 100%;
  float: left;
}

.listing .cmicdtl .comicsummary a:visited {
  text-decoration: none;
  color: #f4f4f4;
}

.comicsummary {
  padding: 5px
}

.cmicdtl {
  padding: 0 15px
}

.listing .cmicdtl .comicsummary .chapter-list ul li {
  margin-bottom: 10px;
  font-size: 14px;
  min-width: 150px;
  overflow: visible;
  border: 1px solid #808080;
  border-radius: 3px;
  padding: 6px 10px;
  max-width: 270px
}

.listing .cmicdtl .comicsummary .chapter-list ul li a {
  text-decoration: none;
  color: #ffffff;
}

.listing .cmicdtl .comicsummary .chapter-list ul li a:visited {
  text-decoration: none;
  color: #66A3BB;
}

.listing .cmicdtl .comicsummary .chapter-list ul {
  padding-left: 0;
  list-style-type: none
}

.listing .cmicdtl .comicsummary .chapter-list ul li span {
  float: right;
  color: #555;
  font-size: 12px;
}

/*releases*/
/*sidebar*/
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 1200px) {
  .sidebar- {
    width: 330px;
    padding-left: 15px;
  }
}

.img-fluid {
  max-width: 100%;
  width: 330px;
  height: 50px;
  margin-bottom: 1rem !important;
  border-radius: 0.25rem !important;
  text-align: center;
}

.widget {
  margin-bottom: 30px;
  text-align: center;
}

.widget {
  margin: 0 0 3em;
}

/*sidebar*/
.support {
  display: flex;
  background-color: #333
}

.navpng {
  padding: 13px;
  color: #ffffff;
  width: 25px;
  height: 25px;
  line-height: 1;
}

.rights {
  padding-top: 50px;
  margin: 0 auto;
  background-color: #333;
  color: #808080;
  font-size: 12px;
  text-align: center;
}

.allrights {
  margin: auto;
  display: flex;
  background-color: #333;
  color: #808080;
}

.chapter-list ul li {
  color: #999;
  font-weight: bold;
}

.path {
  font-size: 16px;
  text-align: center;
  color: #f4f4f4;
  background-color: #363636;
  margin: 6px 0;
  padding: 15px
}

.path a {
  text-decoration: none;
  text-align: center;
  color: #f4f4f4;
  font-weight: 200;
  font-style: italic;
}

.allcontent {
  background-color: #363636;
  margin-top: 6px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.info {
  padding-top: 25px;
  margin: 0 auto;
  text-align: center;
  max-width: 250px
}

.tpst i {
  float: right;
  font-style: normal;
}

@media only screen and (max-width: 695px) {
  .tpstinfo {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -3px;
  }

  .tpst {
    width: 50%;
    margin: 0 3px;
    margin-top: 6px;
    max-width: 350px
  }
}

.tpst {
  padding: 7px 10px;
  background-color: #757575;
  color: #363636;
  font-weight: 600;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 6px;
  font-size: 14px;
}

.tpst span {
  float: left;
}

.omegainfo {
  color: #b8b8b8;
  padding: 0 15px;
  text-align: left;
}

.releasename {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #312f40;
  padding: 8px 15px;
}

.listch {
  margin: 15px
}

.listch ul {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-left: -5px;
  overflow: auto;
  max-height: 250px;
  border-radius: 10px
}

.list {
  color: #b8b8b8;
  background-color: #363636;
  padding: 10px 0;
  margin-bottom: 10px
}

.release-datech {
  float: none;
  color: #808080;
  font-size: 14px;
  font-weight: 200
}

.lichbox {
  overflow: hidden;
  padding: 5px 10px;
  border: 1px solid #808080;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.lichnum {
  float: left;
}

.list .listch ul li .lichnum span {
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 16px;
}

.list .listch ul li a {
  text-decoration: none;
  color: #808080;
}

.list .listch ul li a:visited {
  text-decoration: none;
  color: #66A3BB
}

.navpng1:hover {
  background-color: #fa6755;
}

.navpng2:hover {
  background-color: #0666b4
}

.navpng3:hover {
  background-color: #5865F2
}

.navpng4:hover {
  background-color: #ffdd00
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #66a3bb;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 12px 10px 12px;
  border-radius: 50%;
}

#myBtn img {
  width: 12px;
  height: 12px
}

#myBtn:hover {
  background-color: #253A47;
}

.list .listch ul::-webkit-scrollbar {
  width: 5px;
}

.list .listch ul::-webkit-scrollbar-track {
  background-color: #66a3bb;
  border-radius: 10px
}

.list .listch ul::-webkit-scrollbar-thumb {
  background-color: #253a47;
  outline: 1px solid #253a47;
  border-radius: 10px
}

.massrelease {
  position: absolute;
  top: 5px;
  background-color: red;
  color: #ffffff;
  padding: 5px 35px;
  left: -25px;
  display: inline-block;
  font-weight: bold;
}

.cmclgo1 {
  width: 180px
}

.casg {
  max-width: 180px
}
.notice a, a:visited
{
  color: white;
  text-decoration: underline;
}
#disqus_thread{
  margin: auto 25px;
}
<<<<<<< HEAD
.commentscont
{
  background-color: #333;
  padding-top: 25px;
  margin-bottom: 25px;
}
.pg404
{
align-items: center;
justify-content: center;
text-align: center;
background-color: #333333;
color: #fff;
padding: 25px;
margin: 25px 0;
}
.pg404 img
{
  margin: auto;
}
=======
>>>>>>> parent of 759e515 (404, title IMAGES)
